{{!-- <h2>this is a plan</h2>
<h2>{{plan.title}}</h2>
<h2>{{plan.name}}</h2>
{{!-- <h2>{{plan.location.}}</h2> --}}
{{!-- <h3><span id="lng">{{plan.location.coordinates.[0]}}</span> / <span id="lat">{{plan.location.coordinates.[1]}}</span></h3> --}}
<h2>{{plan.time}}</h2>
<h2>{{plan.price}}</h2>
<h2>{{plan.email}}</h2>

<div class="container" id="voting-box">
  <div class="left" onclick="addleft()">
    <div class="text">
      <span class="option-size" id="size-one"></span>
      <br>
      <span class="option-title" id="option-one"></span>                
    </div>
  </div>
  <div class="right" onclick="addright()">
    <div class="text">
      <span class="option-size" id="size-two"></span>
      <br>
      <span class="option-title" id="option-two"></span>
    </div>
  </div>
</div> --}}
