<nav>
  <ul>
    <li> <a href="/auth/logout">Logout</a>
    </li>
  </ul>
</nav>

<div class="cont-profile">
  <div>
    <img class="circle" src="{{user.photo}}" alt="ImgPerfil" />
    <h2>Welcome {{user.username}}</h2>
    <p>Lorem ipsum dolor sit ametconsectetur adipisicing elit. Neque modi non a</p>

    <h2>Upload your photo</h2>
    <form action="/auth/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="photo">
      <input type="submit" value="Save">
    </form>
    <div><a href="/auth/create-plan" class="btn-plan"></a></div>

  </div>
</div>

<div class="box-cards">
  <div class="card">
    <div class="face face1">
      <div class="content-card">
        <h2>Past Plans</h2>
      </div>
    </div>
    <div class="face face2">
      <div class="content-card">
        <ul>
          {{#each allPlans}}
          <div>
            <li><a href="/auth/plan/{{this.id}}">{{this.title}},{{this.city}},{{this.status}}</a></li>
            {{!-- <li>{{ this.status }}
            </li> --}}
          </div>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>