<body onload="voteStatus()">
  

<nav>

  <ul>
    <li> <a href="/auth/logout">Logout</a>
    </li>
  </ul>
</nav>

<div class="cont-profile">
  <div>
    <img class="circle" src="{{user.photo}}" alt="ImgPerfil" />
    <div>
    <h3>{{user.username}}</h3>
    </div>
    <div id = "editPhoto" class="editPhoto" onclick="editPhoto()">
      edit
    </div>
    <div id="cancelEdit" class="cancelEdit" onclick="cancelEditPhoto()">
      cancel
    </div>
    <div id="editPhotBackHidden" class="editPhotoHidden">
    <form  action="/auth/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="photo">
      <input type="submit" value="Save">
    </form>
    </div>
    </div>


  </div>


<div class="planWrapper">
  <div>
  <a href="/auth/create-plan" ><img src="https://res.cloudinary.com/dumuchjet/image/upload/v1563103305/fotos/ui-01-512_snnyoj.png" alt="" width="200px" height="200px"></a>
  <aside><h3>Create Plan</h3></aside>
  </div>
  <h2>YOUR PLANS</h2>
{{#each allPlans}}
<div class="completePlan">
  <div class="eachPlanDate">
 <a>{{this.date}}</a> 
</div>

<div class="eachPlan">
 <a class ="planLink" href="/auth/plan/{{this.id}}">{{this.title}}</a> 
</div>
<div  class="eachPlanStatusPending">
 <a class ="planLinkStatus" href="/auth/plan/{{this.id}}">{{this.status}}</a> 
</div>
</div>
{{/each}}
</div>
</body>
<script>
  
  var allDivPlansNode = document.querySelectorAll(".eachPlanStatusPending")
  var allDivPlans = Array.from(allDivPlansNode)
   var allDatesNode = document.querySelectorAll(".eachPlanDate")
    var allDatesArray = Array.from(allDatesNode)
 
  function voteStatus(){
    console.log(document.querySelectorAll(".eachPlanDate"))
    for(var i = 0; i < allDivPlans.length; i++ ){
       if(allDivPlans[i].innerText=="Vote Passed"){
         
    allDivPlans[i].className = "eachPlanStatusPassed";
    }
    else if(allDivPlans[i].innerText=="Pending Vote"){

    allDivPlans[i].className = "eachPlanStatusPending";
    }
    else if(allDivPlans[i].innerText=="Vote Failed"){

    allDivPlans[i].className = "eachPlanStatusFailed";
    }
    }
      for (var i = 0 ; i < allDatesArray.length; i++){
      allDatesArray[i].innerText = allDatesArray[i].innerText.slice(0,15)
      
    }
   
   
  }

function editPhoto(){
  document.querySelector(".editPhotoHidden").className = ""
  document.querySelector(".cancelEdit").className = "cancelPhotoPointer"
  document.querySelector(".editPhoto").className="editPhotoHiddenBtn"
}
function cancelEditPhoto(){
    document.querySelector("#editPhotBackHidden").className = "editPhotoHidden"
      document.querySelector("#editPhoto").className= "editPhoto"
    {{!-- document.querySelector(".editPhoto").className="" --}}
    document.querySelector("#cancelEdit").className = "cancelEdit"

}
 
  
</script>