<body onload="start()">
  <div>
    <aside>
<img src="{{newPlan.createdBy.photo}}" alt="" height="100px" width="100px"></aside>
<h2>{{newPlan.createdBy.username}}</h2>
<h2><span id="statusPlan">{{newPlan.status}}</span></h2>
<h2>Voted Yes : <span id="votesYes" >{{newPlan.votedYes}}</span></h2>
<h2>Voted No : <span id="votesNo" >{{newPlan.votedNo}}</span></h2>
 <span id="voteResult" class="success"></span>
 <span id="voteResult1" class="fail"></span>
<h2>{{newPlan.title}}</h2>
<h2>{{newPlan.name}}</h2>
<h2>{{newPlan.date}}</h2>
<h2 id="maxVote">{{newPlan.maxVotes}} </h2>
<h2 id="comments">{{newPlan.comments}} </h2>
  
  



<h2 id="address">{{newPlan.address}}</h2>
<h2>{{newPlan.time}}</h2>
<h2>{{newPlan.price}}</h2>
<h2>{{newPlan.email}}</h2>
<h2 id="newPlanId" name="id">{{newPlan._id}}</h2>
</div>

<button id="yes"class="yesandno" onclick="voteYes()">Yes</button>
<button id="no" class="yesandno" onclick="voteNo()">No</button>
{{!-- <form id="formValue" onsubmit="losComments()">   --}}
<input id="comment" type="text" name="comment" placeholder="comment" value="" ></div>
{{!-- <button type="submit" >comment</button> --}}

{{!-- </form> --}}
<aside>
  <span id="total-votes"></span>
  
</aside>


<br><br>


  
  <div id="map">
</div>
</body>
<script type="text/javascript">
	function disableButton(){
		document.querySelector(".yesandno").disabled = true;
		alert("Button has been disabled.");
	}
</script>
<script>
  //creates a listener for when you press a key
window.onkeyup = keyup;

//creates a global Javascript variable
var inputTextValue;

function keyup(e) {
  //setting your input text to the global Javascript Variable for every key press
  inputTextValue = e.target.value;

  //listens for you to press the ENTER key, at which point your web address will change to the one you have input in the search box
  if (e.keyCode == 13) {
    losComments(inputTextValue)
  }
}
  let newPlanId = document.querySelector("#newPlanId").innerHTML
  {{!-- let newComment = document.querySelector("#formValue").value --}}
   function losComments(arg){
     console.log("newComment")
     axios.post("/auth/postComment",{idPlan: newPlanId, losComment: arg })
    .then(data => {
      document.querySelector("#comments").innerHTML = data.data.comments
    })
    .catch(err => console.log(err))
  }
  function voteYes(){
    
    axios.post("/auth/updatePlan",{idPlan: newPlanId})
    .then(data =>{ 
      document.querySelector("#votesYes").innerHTML = data.data.votedYes
      document.querySelector("#statusPlan").innerHTML = data.data.status
    })
    .catch(err => console.log(err))
  }
  function voteNo(){
    axios.post("/auth/updatePlanNo",{idPlan: newPlanId})
    .then(data => {
      document.querySelector("#votesNo").innerHTML = data.data.votedNo
      document.querySelector("#statusPlan").innerHTML = data.data.status
    })
    .catch(err => console.log(err))
  }
 
  
</script>
<script>
   var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng();
    var mapOptions = {
      zoom: 14,
      center: {lat: 40.4165000, lng: -3.7025600},
    }
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
    
  }

  function codeAddress() {
    var address = document.getElementById('address').innerText;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
  function start(){
    initialize()
    codeAddress()
  }
  console.log(document.getElementById('planAddress').innerText)
  
</script>

 

