<h2>this is a plan</h2>
<h2>{{newPlan.createdBy.username}}</h2>
<h2>{{newPlan.title}}</h2>
<h2>{{newPlan.name}}</h2>
<h2>{{newPlan.location}}</h2>
<h2>{{newPlan.time}}</h2>
<h2>{{newPlan.price}}</h2>
<h2>{{newPlan.email}}</h2>
