<h2>this is a hola</h2>
<h2>{{newPlan.createdBy.username}}</h2>
<h2>{{newPlan.title}}</h2>
<h2>{{newPlan.name}}</h2>
<h2>{{newPlan.location}}</h2>
<h2>{{newPlan.time}}</h2>
<h2>{{newPlan.price}}</h2>
<h2>{{newPlan.email}}</h2>

<div class="container" id="voting-box">
  <div class="left" onclick="addleft()">
    <div class="text">
      <span class="option-size" id="size-one"></span>
      <br>
      <span class="option-title" id="option-one"></span>                
    </div>
  </div>
  <div class="right" onclick="addright()">
    <div class="text">
      <span class="option-size" id="size-two"></span>
      <br>
      <span class="option-title" id="option-two"></span>
    </div>
  </div>
</div>
